*.class
*.log

.idea/

project/target/
target/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

test/resources/application.conf

# sbt specific
.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

projectFilesBackup
.idea
src/test/resources/application.conf
/build.sbt~

state
atlassian-ide-plugin.xml
exampleQuestionData.csv
resultsStats.csv
src/main/resources/application.conf